<aside class="sidebar">
  <% @mailers.each do |mailer| %>
    <% next if mailer.total_emails.zero? %>
    <section class="nav_list">
      <h3 class="nav_title"><%= mailer.to_s %></h3>
      <ul>
        <% mailer.emails_list.each do |email| %>
          <li><%= link_to email.name.humanize.titlecase, maily_email_path(mailer: mailer.klass, email: email.name), class: sidebar_class(mailer, email) %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
</aside>
